*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}
.landing-content{
	background: url(../images/landing-img.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	align-items: center;
}
.home-bkrd{
	background: url(../images/home-img.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	align-items: center;
}
.contact-bkrd{
	background: url(../images/contact-img.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
}
.service-bkrd{
	background: url(../images/service-img.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover; 
}
.gall-bkrd{
	background: url(../images/gallery-img.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	/*align-items: center;*/
}
a{
	outline: 0;
	text-decoration: none;
	color: black;
}
.container{
	height: 15vh;
	display: flex;
	justify-content: space-between;
}
@media only screen and (min-width: 961px){
	.navbar{
		height: 100vh;
		width: 170px;
		background-image: linear-gradient(to right, rgb(67, 103, 105), rgba(138, 251, 255, 0.4));
		/*background: url(../images/navi.jpg);*/
		/*background-size: cover;*/
		align-items: center;
		justify-content: center;
	}
	.navpic{
		color: black;
		justify-content: center;
		font-size: 30px;
	}
	.navpic:hover{
		transition: 1s;
		border: 10px;
		border-color: white;
	}
	.navpic > li:hover{
		transition: 0.6s;
		background-color: skyblue;
	}
	ul{
		list-style: none;
	}
	li{
		padding: 10px 30px;
	}
	.dpdn-content{
		display: none;
		position: absolute;
		height: 40px;
		left: 170px;
		bottom: 45px;
		/*opacity: 0;*/
	}
	.dpdn-content > li > a:hover{
		transition: 0.6s;
		background: rgba(138, 251, 255, 0.5);
		border-radius: 10px;
	}
	@keyframes navi{
		from{left: -180px;}
		to{left: 170px;}
		0%, 25%{opacity: 0;}
		75%{opacity: 1;}
	}
	@keyframes novi{
		from{left: 170px;}
		to{left: -180px;}
		0%, 50%{opacity: 1;}
		75%{opacity: 0;}
	}
	.dpdn-content > li{
		background-color: rgba(138, 251, 255, 0.4);
		padding: 10px 30px;
		border-style: none;
		/*attempts at animation start here.*/
	}
	.dpdn-parent:hover > .dpdn-content{
		animation: navi 0.6s;
	}
	/*attempted animation reverse*/
	.dpdn-parent > .dpdn-content{
		animation: novi 0.5s;
	}
	.dpdn-parent:hover .dpdn-content{
		display: block;
		float: right;
		/*background-color: rgba(138, 251, 255, 0.3);*/
		opacity: 1;
	}
	.dpdn-parent:hover .dpdn-content > li{
	}
	.dpdn-parent{
		position: relative;
	}
	/*another animation attempt*/
	.dpdn-content:hover > li{
	}
	/*.dpdn-parent:hover{
		transition: 0.3s;
		background color: red;
	}*/
	.brame{
		width: 44%;
		margin-left: auto;
		margin-right: 50px;
		margin-top: 20px;
	}
	.brandname{
		color: white;
		background-color: skyblue;
		background-position: right;
		background-size: 60px;
		border-radius: 60px;
		font-size: 60px;
		font-weight: bold;
		padding: 20px;
		text-align: right;
		position: sticky;
	}
	.inter-scroll{
		margin-top: 10px;
		margin-right: 10px;
		margin-left: 10px;
		width: 1170px;
		height: 620%;
		overflow-y: scroll;
		border-radius: 5px;
	}
	.gall-roll{
	position: fixed;
	top: 10;
	background-color: lightblue;
	background-size: 100px;
	align-items: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 85.9%;
	}
	.gall-roll > a{
		margin: 50px;
		padding: 0 50px;
		border-radius: 1000px;

	}
	.gall-roll > a:hover{
		background-color: gray;
		border-radius: 10px;
		transition: 0.7s;
	}
	.gallim{
		padding-top: 20px;
	}
	.gallim > img{
		height: 500px;
		width: auto;
	}
}
/*mobile and tablets*/
@media only screen and (max-width: 960px){
	.navbar{
		height: 50px;
		width: 100%;
		position: fixed;
		top: 0;
		background-color: rgba(79, 187, 219, 0.6);
		/*background-image: linear-gradient(to right, rgb(67, 103, 105), rgba(138, 251, 255, 0.4));*/
		/*background: url(../images/navi.jpg);*/
		/*background-size: cover;*/
		/*align-items: center;*/
		/*justify-content: center;*/
	}
	.navpic{
		display: flex;
		margin-top: 10px
		/*color: black;*/
		/*justify-content: center;*/
		/*font-size: 30px;*/
	}
	.navpic > li{
		display: flex;
		background-color: skyblue;
		border-radius: 5px;
		/*transition: 0.6s;*/
		/*background-color: skyblue;*/
	}
	.navtxt{
		display: none;
	}
	.navtxt > li{
		display: flex;
	}
	ul{
		list-style: none;
	}
	li{
		margin-left: 20px;
		padding: 0px 30px;
	}
	.dpdn-content{
		display: flex;
		border-radius: 5px;
	}
	.dpdn-content > li > a:hover{
		/*transition: 0.6s;*/
		/*background: rgba(138, 251, 255, 0.5);*/
		/*border-radius: 10px;*/
	}
	.dpdn-content > li{
		/*background-color: rgba(138, 251, 255, 0.4);*/
		/*padding: 10px 30px;*/
		/*border-style: none;*/
		/*attempts at animation start here.*/
	}
	.dpdn-parent:hover .dpdn-content{
		/*display: block;*/
		/*float: right;*/
		/*background-color: rgba(138, 251, 255, 0.3);*/
		/*opacity: 1;*/
	}
	.dpdn-parent:hover .dpdn-content > li{
	}
	.dpdn-parent{
		/*position: relative;*/
	}
	/*another animation attempt*/
	.dpdn-content:hover > li{
	}
	/*.dpdn-parent:hover{
		transition: 0.3s;
		background color: red;
	}*/
	.brame{
		width: 70%;
		margin-left: auto;
		margin-right: 50px;
		margin-top: 50px;
	}
	.brandname{
		color: white;
		background-color: skyblue;
		background-position: right;
		background-size: 60px;
		border-radius: 60px;
		font-size: 60px;
		font-weight: bold;
		padding: 20px;
		text-align: right;
		position: sticky;
	}
	.inter-scroll{
		margin-top: 50px;
		margin-right: 10px;
		margin-left: 10px;
		width: 1170px;
		height: 605%;
		overflow-y: scroll;
		border-radius: 5px;
	}
	.gall-roll{
	position: fixed;
	top: 10;
	background-color: lightblue;
	background-size: 100px;
	align-items: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 97.4%;
	height: 20px;
	display: flex;
	}
	.gall-roll > a{
		margin: 10px;
		padding: 0 50px;
		border-radius: 1000px;
		background-color: gray;
		border-radius: 10px;
	}
	.gallim{
		padding-top: 20px;
	}
	.gallim > img{
		height: 500px;
		width: auto;
	}
}
.welcome-msg{
	line-height: 1.5;
	padding: 10px;
	border-left: 30px;
	color: lightgray;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.7);
	background-size: contain;
	text-align: left;
	margin-left: auto;
	margin-right: 10px;
	margin-top: 30px;
	bottom: 300px;
	width: 80%;
}
.home-content{
	background-color: rgba(89, 43, 23, 0.7); 
}
.home-fluff{
	display: table;
	line-height: 1.3;
}
.home-fluff > img{
	text-align: right;
	height: 200px;
	/*width: auto;*/
}
.article-img{
	height: 60px;
	width: auto;
}
/*to be used on most Pages!*/
.text-format{
	color: lightgray;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: contain;
	text-align: right;
}
.contact-box{
	display: flex;
}
.ord-inp{
	/*display: flex;*/
	margin: 10px;
	padding: 10px;
}
.ord-inp > input{
	margin: 5px;
	width: 80%;
}
.input-Fname{

}
.input-Lname{

}
.order-specs{

}
.deli-date{

}
.icons{
	display: flex;
	align-content: right;
}
i{
	padding: 50px;
	size: 30px;
	align-content: right;
}